:root {
    --primary: #7A278D;
    --primary_darker: #610C75;
    --success: #72B01D;
    --error: #EA3546;
    --alert: #FFC100;
}

.control-bar {
    align-items: center;
    background: var(--primary);
    justify-content: space-between;
    display: flex;
    color: white;
    position: absolute;
    min-width: 35vw;
    z-index: 1000;
    border-radius: 0 0 4px 0px;
}


.control-bar svg {
    margin-right: 0.5rem;
}

.control-bar__filter-label {
    align-items: center;
    display: flex;
    padding: 0.75rem 1rem;
}

.control-bar__connection-container {
    border-left: solid 1px var(--primary_darker);
    padding: 0.75rem 1rem;
}

.control-bar__connection-container.connected svg {
    color: var(--success);
}

.control-bar__connection-container.not-connected svg {
    color: var(--error);
}

.control-bar__connection-container.trouble-connecting svg {
    color: var(--alert);
}

.route-filter {
    margin-left: 1rem;
    color: black;
}

@media (min-width: 1400px) {
    .control-bar {
        min-width: 30vw;
    }
}

@media (max-width: 1100px) {
    .control-bar {
        min-width: 45vw;
    }
}

@media (max-width: 500px) {
    .control-bar {
        min-width: 100vw;
    }
}
