:root {
    --primary: #7A278D; 
}

.control-bar {
    background: var(--primary);
    color: white;
    padding: 0.75rem;
    position: absolute;
    width: 30vw;
    z-index: 1000;
}

.control-bar__filter-label {
    align-items: center;
    display: flex;
}

.route-filter {
    margin-left: 1rem;
    color: black;
}