:root {
    --primary: #7A278D;
    --primary_darker: #610C75;
    --secondary_lighter: #02205C91;
    --secondary: #02205c;
    --secondary_darker: #00040b;
    --black: #111;
    --black_lighter: #00000094;
    --success: #72B01D;
    --error: #EA3546;
    --alert: #FFC100;
}

.control-bar {
    align-items: center;
    background: var(--primary);
    justify-content: space-between;
    display: flex;
    color: white;
    position: absolute;
    min-width: 35vw;
    z-index: 1000;
    border-radius: 0 0 4px 0px;
}


.control-bar svg {
    margin-right: 0.5rem;
}

.control-bar__filter-label {
    align-items: center;
    display: flex;
    padding: 0.75rem 1rem;
}

.control-bar__connection-container {
    border-left: solid 1px var(--primary_darker);
    padding: 0.75rem 1rem;
}

.control-bar__connection-container.connected svg {
    color: var(--success);
}

.control-bar__connection-container.not-connected svg {
    color: var(--error);
}

.control-bar__connection-container.trouble-connecting svg {
    color: var(--alert);
}

.route-filter {
    margin-left: 1rem;
    color: black;
}

.about-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    font-weight: 700;
}

.about-button:hover {
    background: var(--black_lighter);
    border-radius: 0 0 0 4px;
    color: white;
}

.about-button:active {
    transform: scale(99%);
}

.about-button svg {
    margin-right: 0.5rem;
}

button {
    display: flex;
    align-items: center;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: transparent;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

.Modal {
    position: fixed;
    z-index: 2000;
    inset: 0;
    background: var(--black_lighter);
}

.Modal__content {
    background: var(--secondary_darker);
    color: white;
    min-height: 20%;
    padding: 2rem;
    border-radius: 10px;
    max-width: 60%;
    box-shadow: 2px 2px 8px #0009;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

.Modal__content--header {
    text-align: center;
}

@media (min-width: 1400px) {
    .control-bar {
        min-width: 30vw;
    }
}

@media (max-width: 1100px) {
    .control-bar {
        min-width: 45vw;
    }
}

@media (max-width: 500px) {
    .control-bar {
        min-width: 100vw;
    }
}
