body {
    padding: 0;
    margin: 0;
}

html,
body,
#main,
main,
.App,
.leaflet-container {
    height: 100%;
    width: 100vw;
}

:root {
    --primary: #7A278D;
    --primary_darker: #610C75;
    --secondary_lighter: #02205C91;
    --secondary: #02205c;
    --secondary_darker: #01153c;
    --secondary_darkest: #00040b;
    --black: #111;
    --black_lighter: #00000094;
    --success: #72B01D;
    --error: #EA3546;
    --alert: #FFC100;
}

.control-bar {
    position: absolute;
    min-width: 35vw;
    border-radius: 0 0 10px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--primary);
    color: white;
    z-index: 1000;

    filter: drop-shadow(0.2rem 0.2rem 0.5rem #00000077)
}


.control-bar svg {
    margin-right: 0.5rem;
}

/* .control-bar__filter-label { */
/* align-items: center; */
/* display: flex; */
/* padding: 0.75rem 1rem; */
/* } */

.control-bar__connection-container {
    border-left: solid 1px var(--primary_darker);
    padding: 0.75rem 1rem;
    font-weight: 600;
}

.control-bar__connection-container.connected svg {
    color: var(--success);
}

.control-bar__connection-container.not-connected svg {
    color: var(--error);
}

.control-bar__connection-container.trouble-connecting svg {
    color: var(--alert);
}

.route-filter {
    /* margin-left: 1rem; */
    color: black;

    min-width: 300px;

    margin: 0.5rem;
}

.about-button {
    bottom: 0;
    color: white;
    position: absolute;
    left: 0;
    z-index: 1000;
    background: var(--secondary);
    border-radius: 0 10px 0 0;
}

.about-button:hover {
    background: var(--secondary_darker);
}

.about-button:active {
    transform: scale(99%);
}

.about-button svg {
    margin-right: 0.5rem;
}

button {
    display: flex;
    align-items: center;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: transparent;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

.Modal {
    position: fixed;
    z-index: 2000;
    inset: 0;
    background: var(--black_lighter);
}

.Modal__content {
    background: var(--secondary_darkest);
    color: white;
    min-height: 20%;
    padding: 2rem;
    border-radius: 10px;
    max-width: 60%;
    box-shadow: 2px 2px 8px #0009;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

.Modal__content--header {
    text-align: center;
}

.Modal__content--footer {
    margin-top: 2rem;
}

@media (min-width: 1400px) {
    .control-bar {
        min-width: 30vw;
    }
}

@media (max-width: 1100px) {
    .control-bar {
        min-width: 45vw;
    }

    .Modal__content {
        max-width: 75%;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 0.9rem;
    }

    /* .control-bar__filter-label { */
    /* width: 100%; */
    /* padding: 0.5rem 0; */
    /* } */

    .route-filter {
        width: 100%;
    }

    .route-select-option__wrapper .route-and-icon span {
        font-size: 1.5rem;
    }

    .control-bar__label-text {
        display: none;
    }

    .control-bar {
        min-width: 100vw;
        font-size: 0.9rem;
    }

    .Modal__content {
        max-width: 90%;
        margin-top: 15%;
        font-size: 0.9rem;
    }

    .about-button {
        font-size: 0.7rem;
        padding: 0.5rem 0.75rem;
    }
}

.route-select-option__wrapper {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 1rem;
}

.route-select-option__wrapper .route-and-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
}

.route-select-option__wrapper img {
    width: 20px;
    height: 20px;
}